/*common requirements - area distribution requirements*/

#body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.light { font-weight: 300; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }

.main-content {
    margin: 40px 200px 80px;
    visibility: hidden;
}

.page-header h2 {
    font-size: 26px;
    margin: 20px 0;
    font-weight: 500;
}

.page-header p {
    font-size: 17px;
}

.section {
    margin-top: 50px;
}

.section:first-child {
    margin-top: 35px;
}

.section-header {
    margin-bottom: 20px;
}

    .section-header h3 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: 500;
        color: #4A90E2;
    }

    .section-header p {
        font-size: 16px;
    }

.table {
    font-size: 16px;
}

.table td.complete {
    color: green;
}

.table td.incomplete {
    color: red;
}

