.nav-bar {
    width: 100%;
    height: 61px;
    margin: 0px;
    padding: 5px;
    background-color: #4A90E2;
    font-family: 'Roboto', sans-serif;
    padding-right: 20px;
}

.nav .menu-item {
    padding: 15px 30px;
}

.nav .menu-item a {
    padding: 0 0 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.nav .menu-item.active > a {
    border-bottom: 2px solid white;
}

.nav .menu-item a:hover {
    border-bottom: 2px solid white;
    background-color: inherit;
}

#logo {
    color:  white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 36px;
}