#body {
    color: black;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: white;
}

.nav-bar {
	width: 100%;
	margin: 0px;
	padding: 5px;
	background-color: #4A90E2;
}

.menu-item > a {
	color: white;
	text-decoration: none;
}

#logo {
	color:  white;
    font-family: 'Nunito Sans';
    font-size: 36px;
}

#text {
	/*display: inline-block;*/
	position: relative;
	text-align: left;
	margin-top: 20px;
	margin-left: 35px;
	font-size: 1.4em;
}

#overview-titles {
	width: 350px;
}

.ovw li {
	/*width: 50%;*/
	list-style-type: none;
	color:  #4A90E2;
	font-weight: 400;
	text-align: right;
	font-size: 30px;
	margin: 65px;
}

