#body {
    color: black;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: white;
}

#text {
	/*display: inline-block;*/
	position: relative;
	text-align: left;
	margin-top: 20px;
	margin-left: 35px;
	font-size: 1.4em;
}

#overview-titles {
	width: 350px;
}

.info {
	margin: 50px 25px;
}

.column {
	float: left;
	font-size: 30px;
}

.column ul {
	list-style-type: none;
}

.column li {
	width: 125px;
	height: 100px;
}

.titles {
	color:  #4A90E2;
	text-align: right;
}

/* 
.ovw li {
	list-style-type: none;
	color:  #4A90E2;
	font-weight: 400;
	text-align: right;
	font-size: 30px;
	height: 100px;
	margin-top: 50px;
}
 */
