body {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.page {
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.welcome {
    margin: 0;
}

.logo {
    color:  #4A90E2;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 4em;
    margin: 0;
}

.description {
    width: 40em;
}