/* ------ GLOBAL STYLE ------ */
body {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.page {
    height: 100vh;
}


/* ------ WELCOME PAGE ------ */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.logo {
    color:  #4A90E2;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 4em;
    margin: 0;
    margin-left: 7px;
}

.description {
    font-size: 22px;
    text-align: center;
    width: 50%;
    display: inline-block;
}

.get-started {
    font-size: 18px;
}

#down-arrow:hover {
    cursor: pointer;
}


/* ------ UPLOAD PAGE ------ */
.upload-page {
    position: relative;
    background-color: #fafafa;
}

.upload-wrapper {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
}

.upload-heading {
    color: #4A90E2;
}

.upload-description {
    font-size: 20px;
}

/* Browse Files */
.upload-file {
    margin: 40px auto;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    position: relative;
    height: 35px;
    width: 450px;
}
    .upload-file button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 35%;
        background-color: #D8D8D8;
        border: none;
        border-right: 1px solid #C7C7C7;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .upload-file button:hover {
        cursor: pointer;
    }

    .upload-file p {
        margin: 7px 0;
        width: 65%;
        height: 100%;
        font-size: 16px;
        text-align: center;
    }

    .upload-file a {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        text-decoration: none;
        color: black;
    }
    
    .upload-file a:hover .help-text{
        visibility: visible;
        opacity: 1;
    }
    
    .help-img {
        position: absolute;
        right: -35px;
        top: 5px;
        opacity: 0.5;
    }

    .help-text {
        visibility: hidden;
        position: absolute;
        top: -125px;
        right: -130px;
        font-size: 14px;
        width: 200px;
        background: white;
        border: 1px solid;
        padding: 7px 10px;
        opacity: 0;
        transition: opacity 0.4s;
    }

.generate-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 22px;
}

.generate-button:hover {
    cursor: pointer;
}
