body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
}

.flex-content {
    margin: 0 auto;
}

.top {
    position: absolute;
    top: 0;
    margin: 20px 15%;
}

.top .logo {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.homepage {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: bottom center;
}

    .homepage-content {
        margin: 0 15%;
    }

    .tagline {
        margin: 0;
        font-size: 54px;
        line-height: 70px;
        color: white;
    }

    .learn-more {
        border: 1px solid white;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        margin-top: 25px;
        padding: 9px 35px;
    }

    .learn-more a {
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 1.1px;
        color: white;
    }

    .learn-more:hover {
        background-color: rgba(256,256,256,0.1);
        cursor: pointer;
    }


.about {
    width: calc(100vw - 30%);
    height: 400px;
    padding: 40px 15%;
    text-align: center;
    color: #444;
}

    .about-description {
        font-size: 20px;
    }

    .col-md-4 {
        width: 33%;
        margin-top: 30px;
        display: inline-block;
    }
        .about-container.left { padding-right: 30px; }
        .about-container.middle { padding: 0 15px; }
        .about-container.right { padding-left: 30px; }

    .about-icon {
        width: 60px;
    }

    .col-md-4 h2 {
        font-size: 20px;
        color: #5B7184;
        font-family: 'Nunito Sans', sans-serif;
    }

.page {
    width: calc(100vw - 30%);
    padding: 40px 15%;
    color: white;
    text-align: center;
}

    .screenshot {
        width: 70%;
    }

    .page-description h1 {
        font-family: 'Nunito Sans', sans-serif;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 26px;
    }

    .page-description p {
        font-size: 20px;
        font-weight: 300;
        margin: 0 auto 20px;
        max-width: 85%;
    }

.get-started {
    background-color: #4782c7;
}

.overview-page,
.planner-page {
    background-color: #5B7184;
}

.details-page {
    background-color: #3DADAA;
}


